.taskBox {
  width: 90%;
  margin: auto;
  max-height: 50%;
  padding: 5px;
  background-color: aqua;
  box-shadow: 6px 6px 4px rgb(124, 155, 155) inset;
  overflow-y: scroll;
}

.task {
  width: 90%;
  margin: auto;
  margin-bottom: 7px;
  margin-top: 7px;
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  align-items: center;
  background-color: beige;
  flex-wrap: wrap;
  box-shadow: 6px 6px 4px rgb(124, 155, 155);
}

.task .icons {
  display: flex;
  gap: 1.3rem;
  cursor: pointer;
  font-size: 2rem;
}
